{% extends 'base.html' %}
{% load static %}

{% block title %}Snippet Finder{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'snippet/list.css' %}">
{% endblock %}

{% block content %}
    <div class="main-container">
        <form method="get">
            {{ filter.form.as_p }}
            <input type="submit" />
        </form>

        <div class="snippet-container">
            {% for obj in filter.qs %}
                <a href="{% url 'snippet_detail' obj.pk %}">
                    <div class="snippet">
                        {{ obj.title }} <br />
                    </div >
                </a>
            {% endfor %}
        </div >
    </div>
{% endblock %}
