<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Snippet List</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <h1>My Snippets</h1>
        <ul>
            {% for snippet in snippets %}
                <li><a href="{% url 'snippet_detail' snippet.pk %}">{{ snippet.title }}</a></li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'create_snippet' %}">Create a new snippet</a></p>
    </body>
</html>
