.main-container {
    width: 100%;
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #232323; /* Button background color */
    color: white; /* Button text color */
    text-decoration: none; /* Remove default underline */
    border: none; /* Remove default border */
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}
.button-secondary {
    display: inline-block;
    padding: 10px 20px;
    background-color: white; /* Button background color */
    color: black; /* Button text color */
    text-decoration: none; /* Remove default underline */
    border: none; /* Remove default border */
    cursor: pointer;
    border: 1px solid #232323;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth background color transition */
    margin-right: 10px;
}

.profile-button {
    display: flex;
}
.button:hover {
    background-color: #333; /* Darker shade on hover */
}
